#required
six~=1.15.0
numpy~=1.20.2
scipy~=1.6.2
webrtcvad~=2.0.10
pyaudio~=0.2.11
librosa~=0.8.0
tqdm~=4.49.0
torch~=1.7.1
transformers~=4.4.2
omegaconf~=2.0.6
google-cloud-speech~=2.0.1
pandas~=1.2.4
datasets~=1.5.0
praat-parselmouth~=0.4.0
wget~=3.2

#speechlm
#pyflashlight
#fairseq~=1.0.0
#kenlm

#kaldi
#pykaldi~=0.2.1